## =====================
## .NET / ASP.NET Core
## =====================
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.csproj.user
*.vbproj.user

## =====================
## Build & Publish
## =====================
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]ny [Cc]pu/
[Ll]og/
[Ll]ogs/
publish/
out/
build.log

## =====================
## Visual Studio
## =====================
.vs/
.vscode/
.idea/
.config/

## =====================
## Rider
## =====================
.idea/
*.sln.iml

## =====================
## OS files
## =====================
.DS_Store
Thumbs.db

## =====================
## ASP.NET Core
## =====================
appsettings.Development.json
appsettings.Local.json

## =====================
## EF Core
## =====================
Migrations/*.Designer.cs
Migrations/*.Snapshot.cs

## =====================
## SQLite / Database
## =====================
*.db
*.db-shm
*.db-wal

## =====================
## Logs
## =====================
*.log

## =====================
## Test results
## =====================
TestResults/

## =====================
## Node (kalau ada frontend)
## =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## =====================
## Secrets
## =====================
secrets.json
.devdbrc
.env
.env.local
.env.*.local

.fake